@{
    ViewBag.Title = "about";
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                PRODUCTOS


            </h1>
            <h4>Contamos con diversos tipos de productos y accesorios para celulares y computadoras, equipos nuevos y seminuevos a la venta</h4>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="active">About</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <img class="img-responsive img-home-portfolio " src="~/images/slider2.jpg" width="500" height="500">
        </div>
        <div class="col-md-6">
            <h2>BIENVENIDOS A TECNOML</h2>
            <p>TECNOML somos un micronegocio, tenemos 10 años atendiendo a nuestros clientes, el cual solo es atendido por 1 persona la cual es el dueño de dicho negocio, llevamos años ofreciendole calidad y eficacía a nuestros clientes.</p>
            <p>Estamos enfocados en la reparacion de todo tipo de equipos, en la venta de accesorios, celulares y computadoras, ofrecemos excelentes productos con una calidad inmejorable y a muy accesibles precios, tambien ofrecemos excelentes servicios de reparaciones, cotizaciones y piezas para los equipos. </p>
        </div>
    </div>
    <!-- Team Member Profiles -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Algunos productos que manejamos</h2>
        </div>
        <div class="col-sm-4">
            <img class="img-responsive img-home-portfolio " src="~/images/acc1.jpg" width="100" height="100">
            <h3>
                CARGADORES
                <small></small>
            </h3>
            <p>Para cualquier tipo de entrada y celular</p>
            <ul class="list-unstyled list-inline list-social-icons">
                <li class="tooltip-social facebook-link">
                    <a title="Facebook" data-placement="top" data-toggle="tooltip" href="#facebook-profile"><i class="fa fa-facebook-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social linkedin-link">
                    <a title="LinkedIn" data-placement="top" data-toggle="tooltip" href="#linkedin-profile"><i class="fa fa-linkedin-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social twitter-link">
                    <a title="Twitter" data-placement="top" data-toggle="tooltip" href="#twitter-profile"><i class="fa fa-twitter-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social google-plus-link">
                    <a title="Google+" data-placement="top" data-toggle="tooltip" href="#google-plus-profile"><i class="fa fa-google-plus-square fa-2x"></i></a>
                </li>
            </ul>
        </div>
        <div class="col-sm-4">
            <img class="img-responsive img-home-portfolio " src="~/images/P9.jfif" width="150" height="150">
            <h3>
                AUDIFONOS
                <small></small>
            </h3>
            <p>Audifonos alambricos </p>
            <ul class="list-unstyled list-inline list-social-icons">
                <li class="tooltip-social facebook-link">
                    <a title="Facebook" data-placement="top" data-toggle="tooltip" href="#facebook-profile"><i class="fa fa-facebook-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social linkedin-link">
                    <a title="LinkedIn" data-placement="top" data-toggle="tooltip" href="#linkedin-profile"><i class="fa fa-linkedin-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social twitter-link">
                    <a title="Twitter" data-placement="top" data-toggle="tooltip" href="#twitter-profile"><i class="fa fa-twitter-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social google-plus-link">
                    <a title="Google+" data-placement="top" data-toggle="tooltip" href="#google-plus-profile"><i class="fa fa-google-plus-square fa-2x"></i></a>
                </li>
            </ul>
        </div>
        <div class="col-sm-4">
            <img class="img-responsive img-home-portfolio " src="~/images/P8.jfif" width="150" height="150">
            <h3>
                AUDIFONOS
                <small></small>
            </h3>
            <p>Audifonos inalambricos de bluetooth</p>
            <ul class="list-unstyled list-inline list-social-icons">
                <li class="tooltip-social facebook-link">
                    <a title="Facebook" data-placement="top" data-toggle="tooltip" href="#facebook-profile"><i class="fa fa-facebook-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social linkedin-link">
                    <a title="LinkedIn" data-placement="top" data-toggle="tooltip" href="#linkedin-profile"><i class="fa fa-linkedin-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social twitter-link">
                    <a title="Twitter" data-placement="top" data-toggle="tooltip" href="#twitter-profile"><i class="fa fa-twitter-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social google-plus-link">
                    <a title="Google+" data-placement="top" data-toggle="tooltip" href="#google-plus-profile"><i class="fa fa-google-plus-square fa-2x"></i></a>
                </li>
            </ul>
        </div>
        <div class="col-sm-4">
            <img class="img-responsive img-home-portfolio " src="~/images/ch1.jpg" width="150" height="150">
            <h3>
                TARJETA SIM
                <small></small>
            </h3>
            <p>Chip´s para cualquier tipo de compañia de celular</p>
            <ul class="list-unstyled list-inline list-social-icons">
                <li class="tooltip-social facebook-link">
                    <a title="Facebook" data-placement="top" data-toggle="tooltip" href="#facebook-profile"><i class="fa fa-facebook-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social linkedin-link">
                    <a title="LinkedIn" data-placement="top" data-toggle="tooltip" href="#linkedin-profile"><i class="fa fa-linkedin-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social twitter-link">
                    <a title="Twitter" data-placement="top" data-toggle="tooltip" href="#twitter-profile"><i class="fa fa-twitter-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social google-plus-link">
                    <a title="Google+" data-placement="top" data-toggle="tooltip" href="#google-plus-profile"><i class="fa fa-google-plus-square fa-2x"></i></a>
                </li>
            </ul>
        </div>
        <div class="col-sm-4">
            <img class="img-responsive img-home-portfolio " src="~/images/P14.jfif" width="150" height="150">
            <h3>
                PROTECTORES
                <small></small>
            </h3>
            <p>Protectores para cualquier marca de celular</p>
            <ul class="list-unstyled list-inline list-social-icons">
                <li class="tooltip-social facebook-link">
                    <a title="Facebook" data-placement="top" data-toggle="tooltip" href="#facebook-profile"><i class="fa fa-facebook-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social linkedin-link">
                    <a title="LinkedIn" data-placement="top" data-toggle="tooltip" href="#linkedin-profile"><i class="fa fa-linkedin-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social twitter-link">
                    <a title="Twitter" data-placement="top" data-toggle="tooltip" href="#twitter-profile"><i class="fa fa-twitter-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social google-plus-link">
                    <a title="Google+" data-placement="top" data-toggle="tooltip" href="#google-plus-profile"><i class="fa fa-google-plus-square fa-2x"></i></a>
                </li>
            </ul>
        </div>
        <div class="col-sm-4">
            <img class="img-responsive img-home-portfolio " src="~/images/P1.jfif" width="150" height="150">
            <h3>
                MEMORIAS
                <small></small>
            </h3>
            <p>Memorias usb y micro sd, de diferentes capacidades</p>
            <ul class="list-unstyled list-inline list-social-icons">
                <li class="tooltip-social facebook-link">
                    <a title="Facebook" data-placement="top" data-toggle="tooltip" href="#facebook-profile"><i class="fa fa-facebook-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social linkedin-link">
                    <a title="LinkedIn" data-placement="top" data-toggle="tooltip" href="#linkedin-profile"><i class="fa fa-linkedin-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social twitter-link">
                    <a title="Twitter" data-placement="top" data-toggle="tooltip" href="#twitter-profile"><i class="fa fa-twitter-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social google-plus-link">
                    <a title="Google+" data-placement="top" data-toggle="tooltip" href="#google-plus-profile"><i class="fa fa-google-plus-square fa-2x"></i></a>
                </li>
            </ul>
        </div>
    </div>
    <!-- Our Customers -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">EQUIPOS EN VENTA</h2>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive img-home-portfolio " src="~/images/comp1.png" width="150" height="150">
            <p> Laptops usadas en buen estado</p>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive img-home-portfolio " src="~/images/P7.jfif" width="150" height="150">
            <p>Celulares Nuevos o Seminuevos en buen estado</p>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive img-home-portfolio " src="~/images/compu3.jpg" width="350" height="350">
            <p>Computadoras de escritorio Nuevas y Seminuevas en buen estado</p>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive img-home-portfolio " src="~/images/tab3.jpg" width="150" height="150">
            <p>Tablets Nuevas y Seminuevas en buen estado</p>
        </div>
        @*<div class="col-md-2 col-sm-4 col-xs-6">
                <img class="img-responsive img-home-portfolio " src="~/images/comp1.png" width="50" height="50">
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <img class="img-responsive img-home-portfolio " src="~/images/comp1.png" width="50" height="50">
            </div>*@
    </div>
</div>