@{
    ViewBag.Title = "Services";
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                SERVICIOS

            </h1>
            <h3>Estamos especializados en reparaciones de celulares, computadoras, tablets y mantenimientos</h3>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="active">Services</li>
            </ol>
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">

            <img class="img-responsive img-home-portfolio " src="~/images/Repa.jpeg" width="1300" height="300">
        </div>
    </div>
    <!-- /.row -->
    <!-- Service Paragraphs -->
    <div class="row">
        <div class="col-md-8">
            <h2 class="page-header">SERVICIOS</h2>
            <p>Estamos enfocados en la reparacion de los equipos de nuestros clientes, con la mayor calidad posible y rapidez, asegurando la compostura de dichos equipos</p>
        </div>
        <div class="col-sm-4">
            <img class="img-responsive img-home-portfolio " src="~/images/reparacion-de-celulares-png-4.png" width="150" height="150">


        </div>
    </div>
    <!-- /.row -->
    <!-- Service Tabs -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">SERVICIOS QUE MANEJAMOS</h2>
            <ul class="nav nav-tabs" id="myTab">
                <li class="active">
                    <a data-toggle="tab" href="#service-one">Reparacion de celulares</a>
                </li>
                <li>
                    <a data-toggle="tab" href="#service-two">Reparacion de tablets</a>
                </li>
                <li>
                    <a data-toggle="tab" href="#service-three">reparacion de computadoras</a>
                </li>
                <li>
                    <a data-toggle="tab" href="#service-four">Mantenimiento</a>
                </li>
                <li>
                    <a data-toggle="tab" href="#service-five">Instalacion de software con licencia</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div id="service-one" class="tab-pane fade in active">
                    <i class="fa fa-gear pull-left fa-4x"></i>
                    <p>Hacemos chequeos y cotizaciones de los equipos que nuestros clientes nos traen para revisar,tenemos piezas para reparar los celulares y cuando no tenemos en stock, le pedimos a nuestro proveedor de confinza.</p>
                    <p>Realizamos todo tipo de reparaciones tales como: cambios de touch,flasheos, cambios de centros de carga, reparacion de tarjeta madre, actualizaciones de software, cambio de pantallas entre otras fallas.</p>
                </div>
                <div id="service-two" class="tab-pane fade">
                    <i class="fa fa-gears pull-left fa-4x"></i>
                    <p>Reparamos cualquier marca de tablet</p>
                    <p>Hacemos cualquier tipo de reparacion de tablets, nos especializamos en dichas reparaciones y tener las piezas necesarias para poder realizar la compostura y nuestros clientes queden satisfechos.</p>
                </div>
                <div id="service-three" class="tab-pane fade">
                    <i class="fa fa-magic pull-left fa-4x"></i>
                    <p>Reparamos cualquier tipo de computadora, ya sean de escritorio o laptops.</p>
                    <p>Atendemos cualquier tipo de falla de dichos equipos, ya sea en software o fisicamente, estamos totalmente capacitados para este tipo de problemas, tenemos softwares con licencia que podemos proporcionarles para el mejor funcionamiento de dichos equipos, dandole a nuestros clientes el soporte tecnico adecuado.</p>
                </div>
                <div id="service-four" class="tab-pane fade">
                    <i class="fa fa-flask pull-left fa-4x"></i>
                    <p>Ofrecemos soporte tecnico a nuestros clientes en cuanto a hadware y no solamente eso</p>
                    <p>Realizamos las actualizaciones de windows, y de software caducados, tambien hacemos actualizaciones de la marca de la computadora para su mejor funcionamiento, actualizaciones importantes como la Bios.</p>
                </div>
                <div id="service-five" class="tab-pane fade">
                    <i class="fa fa-flag pull-left fa-4x"></i>
                    <p>Tenemos software con licencia para instalar a los equipos de nuestros clientes.</p>
                    <p>Algunos de los softwares que manejamos son: office 2016 y 2019, antivirus, acrobat y tambien algunos sistemas operativos como: windows 8 y 10</p>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
    <!-- Service Images -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">IMAGENES DE LOS SERVICIOS</h2>
        </div>
        <div class="col-sm-4">
            <img class="img-responsive img-home-portfolio " src="~/images/repcel1.jpg" width="150" height="150">
            <h3>Reparacion de celulares</h3>
            <p>Aqui una muestra de las reparaciones de celulares a nuestros clientes.</p>

        </div>
        <div class="col-sm-4">
            <img class="img-responsive img-home-portfolio " src="~/images/repcel2.jpg" width="150" height="150">
            <h3>Reparacion de celular</h3>
            <p>Se abrio completamente el celular para poder arreglar la falla que este equipo generaba.</p>

        </div>
        <div class="col-sm-4">
            <img class="img-responsive img-home-portfolio " src="~/images/repa_compu.jpg" width="150" height="150">
            <h3>Reparacion de Computadoras</h3>
            <p>Una muestra de las reparaciones de computadoras y no solo fisicas sino tambien en cuanto a software.</p>

        </div>
    </div>
    <!-- /.row -->
</div>